<h1>CloudTest#show</h1>
<p>Find me in app/views/cloud_test/show.html.erb</p>



<%= cl_image_tag("mj3kkuhti21spn5yvx5j.png", :alt => "Christmas Tree") %>

<%= cl_image_tag("hand-clip-art-3.jpg", :alt => "Hand") %>


